Welcome to the world of Automation powered by Ansible.!!!


Host IP Address: {{ansible_all_ipv4_addresses}}
Host OS Family:  {{ansible_os_family}}

Apache Doc Root:  {{doc_root}}
Apache Doc dir:   {{doc_dir}}

